<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBj68pxkVD0z0m3bY8JaG7oMnstkmxjD2w</string>
	<key>GCM_SENDER_ID</key>
	<string>843596660489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNewProject</string>
	<key>PROJECT_ID</key>
	<string>my-demo-app-b174d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-demo-app-b174d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843596660489:ios:b87a2ba3d5308968489dd8</string>
</dict>
</plist>